:root {
    --lightblue : #8BABF1;
    --orange : #F57600;
    --strongblue : #0073E6;
    
}

body {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Inter", Candara, sans-serif;
    font-size: 2rem;
}

#web_ul {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}

.tag {
    font-family: "Inter", Candara, sans-serif;
    font-size: 1.5rem;
    color: black;
    transition: 200ms ease-in-out;
    padding: 0;
    text-decoration: none;
}

.tag:hover {
    color: white;
}

.link_item {
    padding-top:15px;
}

#mobilenav {
    background: var(--strongblue);
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}


p {
    display: flex;
    font-family: "Inter";
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: calc(100% - 300px);
    padding: 0px 20px 0px 20px;
    
}

#cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    margin-left: 300px;
    
}

.mobile_link_item {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

.mobiletag {
    color: white;
    font-family: "Inter", Candara, sans-serif;
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
    padding: 0;
    text-decoration: none;
}
.mobiletag:hover {
    color: black;
}

#content {
    margin-top: 50px;
}
#content1 {
    margin-bottom: 70px;
}
#content2 {
    margin-bottom: 70px;
}
#content3 {
    margin-bottom: 70px;
}
#content4 {
    margin-bottom: 70px;
}
#content5 {
    margin-bottom: 70px;
}

.top_section {
    margin-top: 15px;
    
}

footer {
    background: var(--strongblue);
    width: 100% ;
    z-index: 1;
    margin: 0;
    padding: 20px 40px 20px 40px;
}

#bottom_section {
    margin-top: 40px;
    padding: 20px;
}

#videoarea {
    display: flex;
    justify-content: center;
}

video {
    background: gray;
    display: flex;
    margin-top: 10px;
}

#banner {
    background: var(--orange);
    padding-top:2px;
    padding-bottom:2px;
}


#banner2 {
    background: lightgray;
    padding-top:2px;
    padding-bottom:2px;
    margin-top: 20px;
}

.h2c {
    font-family: "Inter", Candara, sans-serif;
    font-size: 1.5rem;
}

#left_sidebar_container {
    background: var(--lightblue);
    position: fixed;
    height: 100vh;
    width: 300px;
    bottom: 0;
    left: 0;
    padding-left: 20px;
}

#content2 {
    font-family: "Inter";
    font-size: 20px;
}

/*PLACE MEDIA QUERIES HERE*/
@media (max-width: 997px) {
    #left_sidebar_container {
        display: none;
    }
    main {
        width: 100%;
    }
    #cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        margin-left: 0px;
        }
       
}
@media (min-width:997px) {
    #mobilenav {
        display: none;
    }
}

@media (max-width:1553px) {
    #left_sidebar_container {
        width: 200px;
    }
    main {
        width: 60%;
    }
    video {
        width: 800px;
    }
}

@media (max-width:1470px) {
    video {
        width: 1000px;
    }
}

@media (max-width:1208px) {
    video {
        width: 700px;
    }
}
@media (max-width:710px) {
    video {
        width: 400px;
        margin-top: 20px;
    }
}

@media (max-width: 1363px) {
    #left_sidebar_container {
        width: 225px;
    }
}